version: "3.9"

services:
  #######################################
  # The Bridge Service.
  # At the first run include the flag --build to build the image.
  #######################################
  thebridge:
    build:
      context: .
      dockerfile: ./Dockerfile

    image: ghcr.io/hyp3rd/bridge:v1.1.10
    container_name: "thebridge"
    hostname: "thebridge"
    expose:
      - "8000"
    ports:
      - mode: ingress
        target: 8000
        published: 8000
        protocol: tcp
    networks:
      thebridge-net: null
    volumes:
      - type: bind
        source: ./shared
        target: /app/shared
        read_only: true
# Networks section
networks:
  thebridge-net:
    name: thebridge-net
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "172.20.0.0/16"
    attachable: true
